* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}
body {
  width: 100%;
  height: 100%;
}
.bg-custom {
  background-color: #f4f4f4;
}
.outer {
  margin: 3.5rem 0 0 0;
  width: 100%;
  background-color: #fff;
  padding: 5%;
  border: none;
  border-radius: 15px;
}
.outer .bg-img > img {
  display: block;
  width: 100%;
  height: 30vh;
  border: none;
  border-radius: 15px 15px 0px 0px;
}
.outer .profile-pic {
  font-family: "Times New Roman", Times, serif;
}

.outer .profile-pic > img {
  margin-top: -7%;
  border: solid 5px white;
  width: 8rem;
  border-radius: 100px;
}
/* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
  .h-sm-100 {
    height: 100%;
  }
}
@media (max-width: 576px) {
  .outer .bg-img {
    display: none;
  }
  .outer .profile-pic {
    margin-top: 3%;
  }
}
@media (min-width: 250px) {
  .h-sm-100 {
    height: 100%;
  }
}
