/* #A137EE */
* {
  padding-left: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body,
html {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

/*custom*/
/* nav bar */
.container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}
.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  z-index: 9999;
  transition: background-color 0.3s ease-in-out;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

/* Hamburger Menu Styles */
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #dadada;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #ccc;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .navigation {
    height: auto;
    padding: 10px 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .brand-name {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
  }

  .navigation-menu {
    display: none;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }

  .navigation-menu.expanded {
    display: block;
  }

  .navigation-menu ul {
    flex-direction: column;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    padding: 15px;
    width: 100%;
  }

  .navigation-menu li:hover a {
    background-color: #eee;
  }

  .hamburger {
    display: block;
  }
}

/* footer */
.footer {
  width: 100%;
  margin-bottom: 0% !important;
  text-align: center;
  font-size: 120%;
  padding: 1%;
  background-color: #0d6dfd36;
}
/* signup */
.frm>input{
  padding: 50px;
}
.forms {
  padding: 0% 40%;
}
.form-control {
  padding: 1% !important;
}
.form  {
  height: 100%;
  padding-bottom: 10%;
}
/*Add product */
.form-control {
  margin-top: 0.7%;
}
.input-valid {
  color: crimson;
  font-size: 85%;
}
@media screen and (max-width: 768px) {
  .form-control {
    margin-top: 0.5%;
  }
}
/* Product list*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
h2 {
  text-align: center;
}

.product-list .card>img{
  width: 150px; /* Aap image container ki width and height ko apne requirements ke hisab se set karein */
  height: 200px;
  overflow: hidden; 
}
.product-list .card button {
  margin:  0 2% 0 2%;
}
.product-list .card h5{
 font-size: 1.1rem;
 overflow-y: hidden;
}
.search-box {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* search input */
.search-box {
  width: 50%;
  height: 52px;
  margin: 20px;
  padding: 2% 3%;
  border: 1px solid black;
}

/* image upload */
.img-display-after {
  height: 20vh;
  width: 20vh;
}
